{
  "$schema": "https://json.schemastore.org/prettierrc",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"]
}
